body {
    background-color: #9f8650;
  }
  
.orderLabel{

font-size: 30px;
padding:15px;
margin:15px;
}


#burgerName{
  height: 50%;
  width: 50%;
}

  img {
    width: 20%;
    border-radius: 8px;
  }
  
  title {
    color: #d21e3c;
  }
  
  .status-btn{
    color: #18e109;
    font-size: 14px;
  }
  
 
  .yum{
    color: #18e109;
    font-weight: bold;
    font-size: 15px;
  }
  

  .list-group{
    list-style-type: none;
  
  }

  h3{
    display: none;
  }