body {
    background-color: #8d64788a;
  }
  
  img {
    width: 20%;
  }
  
  title {
    color: #4d030f;
  }
  
  .order{
    color: #18e109;
    font-weight: bold;
    font-size: 14px;
  }
  
 
  .yum{
    color: #18e109;
    font-weight: bold;
    font-size: 14px;
  }
  